.App-Description {
  width: 600px;
  margin: 0 auto;
  padding: 10px 15px;
  @include responsive(640px) {
    width: 100%;
  }
  h1 {
    font-size: 36px;
    padding: 10px 0;
    @include responsive(768px) {
      text-align: center;
    }
  }
  p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
