.random-word-component {
  @include responsive(1024px) {
    width: 36px;
  }
  cursor: pointer;
  background: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 48px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
