* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.fix-content-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Menu .hamburger {
  position: fixed;
  margin: 15px;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.Menu .hamburger .bar1,
.Menu .hamburger .bar2,
.Menu .hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Menu .hamburger.active .bar1,
.Menu .hamburger.active .bar2,
.Menu .hamburger.active .bar3 {
  background: #ddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Menu .hamburger.active .bar1:hover,
.Menu .hamburger.active .bar2:hover,
.Menu .hamburger.active .bar3:hover {
  background: #eee;
}

.Menu .hamburger.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.Menu .hamburger.active .bar2 {
  opacity: 0;
}

.Menu .hamburger.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.Menu .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Menu .overlay.active {
  width: 320px;
}

.Menu .overlay.active a {
  font-size: 24px !important;
}

.Menu .overlay .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.Menu .overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 0px;
  color: #818181;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Menu .overlay .overlay-content a:hover,
.Menu .overlay .overlay-content a:focus {
  color: #f1f1f1;
}

.random-word-component, .Alphabetical .random-word, .Discussional .random-word {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 48px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.random-word-component:hover, .Alphabetical .random-word:hover, .Discussional .random-word:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Alphabetical {
  width: 900px;
  margin: auto;
}

@media (max-width: 1024px) {
  .Alphabetical {
    width: 100%;
  }
}

.Alphabetical .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 48px;
  font-style: italic;
}

.Alphabetical .header .logo {
  width: 128px;
  margin-right: 32px;
}

.Alphabetical .header,
.Alphabetical .footer {
  background: rgba(128, 0, 128, 0.7);
  color: white;
  text-shadow: 1px 2px 10px black;
  padding: 20px;
}

.Alphabetical .lists {
  background: rgba(0, 191, 255, 0.2);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Alphabetical .lists .list {
  padding: 10px;
  width: 50%;
  -webkit-transition: 2s 0.5s;
  transition: 2s 0.5s;
}

.Alphabetical .lists .list .list-item {
  padding: 5px;
  border-bottom: 1px solid #777;
  -webkit-transition: 2s 0.5s;
  transition: 2s 0.5s;
}

.Alphabetical .lists .list .list-item:first-child {
  font-weight: bold;
  background: lightgreen;
}

.Alphabetical .lists .list .list-item.animate-item {
  background: rgba(0, 191, 255, 0.7);
}

.Alphabetical .lists .list.animate-list {
  -webkit-box-shadow: 2px 3px 7px #333;
          box-shadow: 2px 3px 7px #333;
}

.Alphabetical .footer {
  font-size: 16px;
}

.Alphabetical .footer p {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Alphabetical .footer a {
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  background: #670067;
  border: 1px solid black;
}

.Alphabetical .footer .small {
  font-size: 14px;
}

.car {
  background: red;
}

.Discussional {
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .Discussional {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .Discussional {
    font-size: 16px;
  }
}

.Discussional p {
  color: white;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  background: #3333ff;
  text-shadow: 1px 2px 3px #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Discussional p.chosen {
  background: #cc0000;
}

.Discussional .random-word.hide {
  pointer-events: none;
  right: -15px;
  bottom: -15px;
  opacity: 0;
}

.Word-Generator {
  background: #ededed;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Word-Generator .random-word {
  font-size: 36px;
  font-weight: 300;
}

.Word-Generator .get-word {
  cursor: pointer;
  margin-top: 20px;
  padding: 8px 20px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #00ace6;
  text-shadow: 1px 1px 5px black;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.spinner {
  display: inline-block;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.spinner > div {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(deepskyblue), to(#3333ff));
  background: linear-gradient(deepskyblue, #3333ff);
  border: 1px solid #333;
  -webkit-animation: spinner 3.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: spinner 3.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes spinner {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes spinner {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}
